<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="fdgsdfgsdfg.contribution1">
         <action
               label="Add/Remove Sample Nature"
               class="org.ormunit.xml.editor.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="fdgsdfgsdfg.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
 <extension point="org.eclipse.wst.sse.ui.editorConfiguration">
      <!-- The content type ID created by that extension point automatically prefixes the plug-in ID -->
      <sourceViewerConfiguration
            class="org.ormunit.xml.editor.contentassist.BobSourceViewerConfiguration"
            target="org.ormunit.xml.editor.contentassist.ormunit-typ">
      </sourceViewerConfiguration>
   </extension>
   <extension
         id="org.eclipsecon.tutorial371example.contentassist.contentType"
         point="org.eclipse.core.contenttype.contentTypes">
         <content-type
               id="ormunit-typ"
               name="The content type of Rob"
               priority="normal"
               base-type="org.eclipse.core.runtime.xml"
               file-extensions="xml">
         </content-type>
   </extension>
</plugin>
